@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  color : #505962;
}

/*---Navigation---*/

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background: rgba(0,0,0)!important;
}

.navbar-nav li{
  padding-right :.7 rem;
}

.navbar-dark .navbar-nav .nav-link{
  color:white;
  padding-top : .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .navbar-link:hover{
  color: #1ebba3;
}

/*--Landing Page --*/
.home-inner{
  background-image: url("/static/landing/image/landing.jpg");
  display: block;
}

.caption{
  width: 100%;
  max-width: 100%;
  position: absolute;
  top:40%;
  z-index : 1;
  color: rgba(255, 255, 255, 0.849);
  text-transform: uppercase;
}
.caption h1{
  font-size : 3.8rem;
  font-weight : 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom : 1rem;
}

.caption h3 {
  font-style: 2rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom : 1.6rem;
}

.btn-lg{
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.3rem;
  font-size: 1.1rem;
}
