{% load static %}
<link rel="stylesheet" href = "{% static 'landing/css/style.css' %}" >
<link rel="stylesheet" href = "{% static 'landing/css/style/fixed.css' %}">

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <a class="navbar-brand" href="">iKnow</a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href= "" >Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href= "" >Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href= "" >Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href= "" >Home</a>
        </li>
      </ul>
    </div>
</nav>

{% include "pages/snipsets/javascript.html" %}