{% load static %}

<meta http-equiv="pragma" content = "no-cache"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>My Website</title>

</head>
<body data-spy = "scroll" data-target="#navbarResponsive">
  {% include "pages/snipsets/navbar.html" %}
    <!--Start Landing Page-->
    <div class="landing">
      <div class="home-wrap">
        <div class="home-inner">
          </div>
      </div>
    </div>

    <div class="caption text-center">
      <div class = "col-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <h1>Halo!</h1>
        <h3>Apa kabar kamu hari ini?</h3>
      </div>
      <div class= "col-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <div class = "caption-form">
            <form method = "POST">
                {% csrf_token %}
                <form>
                    <div class="form-group row col-lg-12">
                          <div id="id_comment" class="col-sm-12">
                              {{post_form.comment}}
                          </div>
                    </div>      
                    <div class ="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                      <button type ="submit" class="tombol" class="btn btn-outline-light" href= "">Submit</button>
                    </div>
                </form>
              </form>
        </div>
      </div>
    </div>
    
    <div class = "comment-container text-center">
      <h1>Your Post</h1>
      {% for post in posts %}
      <div class = "col col-sm-6 col-md-6 col-lg-12">
        <h3>{{post.comment}}</h3>
        <h6>{{post.date}}</h6>
      </div>
      {% endfor%}
    </div>



      <!--End Landing Page-->
</body>
</html>